---
import { ShieldHalf, Computer, Mail, Pin } from "@lucide/astro";
import InfoCard from "./InfoCard.astro";
import XTTitle from "./XTTitle.astro";
import XTFooter from "./XTFooter.astro";

const cards = [
  {
    title: "Crece en tu zona",
    description: "Muestra una agradable web para tus clientes.",
    icon: Pin,
    image: "undraw_dev.svg",
    imageAlt: "Ejemplo de una web atractiva",
    bullets: [
      "Diseño web moderno y atractivo.",
      "Optimización para dispositivos móviles.",
      "Integración con redes sociales.",
      "Fácil navegación para tus clientes.",
      "Soporte técnico continuo.",
    ],
    buttonText: "Conoce al equipo",
    buttonIcon: ShieldHalf,
  },
  {
    title: "Soluciona tus problemas",
    description: "¿Software obsoleto o incómodo?",
    icon: Pin,
    image: "undraw_coding.svg",
    imageAlt: "Solución de software",
    bullets: [
      "Actualización de software existente.",
      "Optimización de rendimiento.",
      "Automatización de procesos repetitivos.",
      "Interfaz más intuitiva y fácil de usar.",
      "Soluciones personalizadas para tu negocio.",
    ],
    buttonText: "Ver nuestras soluciones",
    buttonIcon: Computer,
  },
  {
    title: "Lleva tu negocio a otro nivel",
    description: "Escala posiciones entre locales y turistas.",
    icon: Pin,
    image: "undraw_progressive.svg",
    imageAlt: "Negocio en crecimiento",
    bullets: [
      "Estrategias de marketing digital.",
      "Optimización para motores de búsqueda (SEO).",
      "Campañas publicitarias en redes sociales.",
      "Creación de contenido atractivo.",
      "Monitoreo y análisis de resultados.",
    ],
    buttonText: "Contáctanos",
    buttonIcon: Mail,
  },
];
---

<div
  class="gradient flex flex-col text-cream py-20 md:py-0 md:pb-10 px-8 md:px-0"
>
  <main
    class="container mx-auto min-h-screen flex flex-col justify-around items-center gap-16"
  >
    <XTTitle
      title="Impulsa tu negocio con tecnología de vanguardia"
      subtitle="Transformamos ideas en experiencias digitales excepcionales que destacan en el mercado actual"
      color="cream"
    />
    <section class="flex flex-row justify-around items-center gap-4">
      <div class="w-full grid grid-cols-1 lg:grid-cols-3 gap-8">
        {cards.map((card) => <InfoCard card={card} />)}
      </div>
    </section>
    <XTFooter
      title="¿Listo para transformar tu negocio?"
      subtitle="Contáctanos hoy mismo y descubre cómo podemos ayudarte a alcanzar tus objetivos."
      buttonText="Solicitar una consulta"
    />
  </main>
</div>

<style>
  .gradient {
    background-image: linear-gradient(
      180deg,
      hsl(215deg 50% 23%) 1%,
      hsl(212deg 47% 26%) 39%,
      hsl(209deg 44% 30%) 47%,
      hsl(206deg 40% 34%) 50%,
      hsl(204deg 37% 38%) 51%,
      hsl(201deg 34% 42%) 51%,
      hsl(199deg 30% 47%) 50%,
      hsl(197deg 28% 51%) 49%,
      hsl(194deg 30% 56%) 49%,
      hsl(192deg 33% 61%) 50%,
      hsl(189deg 35% 66%) 53%,
      hsl(186deg 38% 71%) 61%,
      hsl(182deg 43% 76%) 99%
    );
  }
</style>
