---
import { Bolt, Smartphone, LineChart, ArrowRight } from "@lucide/astro";
import { Button } from "./ui/button";
---

<div class="flex flex-col relative overflow-hidden">
  <main class="container mx-auto h-full px-4 relative z-10">
    <section
      class="min-h-[55vh] md:min-h-[70vh] flex flex-col justify-center items-center gap-8 md:gap-4 font-semibold mb-5 md:mb-0"
    >
      <div class="flex flex-col items-center gap-4 text-center">
        <h2 class="text-4xl md:text-7xl mt-10 md:mt-0 text-dark-blue">
          <div class="flex flex-col" transition:animate="fade">
            <span class="leading-tight">Impulsa tu negocio con soluciones</span>
            <span
              class="bg-gradient-to-r from-steelblue to-tertiary text-cream px-4 py-3 rounded-lg mt-4 shadow-lg"
            >
              claras <span class="rotate-plus text-light-blue">+</span>
              conectadas <span class="rotate-plus text-light-blue">+</span>
              efectivas.
            </span>
          </div>
        </h2>

        <div
          class="flex gap-6 flex-wrap justify-center mt-8 text-sm text-dark-blue font-medium"
        >
          <div class="flex items-center gap-2">
            <Bolt class="w-5 h-5 text-steelblue" /> Rápida implementación
          </div>
          <div class="flex items-center gap-2">
            <Smartphone class="w-5 h-5 text-steelblue" /> Diseño responsive
          </div>
          <div class="flex items-center gap-2">
            <LineChart class="w-5 h-5 text-steelblue" /> Mejora de conversiones
          </div>
        </div>

        <div class="mt-8 md:mt-12">
          <Button variant="tech" size="lg">
            Comienza ahora <ArrowRight size={32} class="ml-2 h-4 w-4" />
          </Button>
        </div>
      </div>
    </section>
  </main>

  <div class="w-full h-36 overflow-hidden relative hidden md:block">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="w-full h-full">
      <path
        d="M0.00,49.98 C150.00,180.00 349.20,-80.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        class="fill-lightblue"></path>
      <path
        d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        class="fill-tertiary"></path>
    </svg>
  </div>
</div>

<style>
  .pattern-bg {
    background-image: url("/patternbg.svg");
    background-position: center;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .rotate-plus {
    display: inline-block;
    animation: rotate 3s ease-in-out infinite;
    font-weight: bold;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
  }
</style>
