---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
---

<header class="lg:flex p-2 gap-5 justify-between md:justify-around">
  <Astronav>
    <div class="flex justify-between md:justify-around w-auto items-center">
      <img src="gepetin.png" class="w-14 h-14 object-contain" alt="Logo" />
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-tertiary" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex lg:items-center">
      <ul
        class="flex flex-col lg:flex-row lg:gap-5 text-tertiary font-semibold"
      >
        <li>
          <a href="/">Home</a>
        </li>
        <li><a href="/about">About</a></li>
        <li>Proyectos</li>
        <li>Contacto</li>
      </ul>
    </MenuItems>
  </Astronav>
</header>
