---
import XTTitle from "./XTTitle.astro";
import ProjectCard from "./ProjectCard.astro";
import XTFooter from "./XTFooter.astro";
import { UtensilsCrossed, BookMarked, TreePine } from "@lucide/astro";

const projects = [
  {
    id: 1,
    title: "Restaurante Coso",
    tags: ["Desarrollo Web", "Diseño Web"],
    icon: UtensilsCrossed,
    src: "mock1.png",
    philosophy:
      "Creemos en la autenticidad y la cercanía. Nuestro trabajo potencia negocios gastronómicos que buscan conectar con sus clientes a través de experiencias digitales cálidas y memorables.",
    description:
      "En este caso, creamos esta divertida web para un restaurante de comida rápida, donde la experiencia del usuario es clave. La web es fácil de navegar y permite a los usuarios encontrar rápidamente lo que buscan.",
  },
  {
    id: 2,
    title: "El Club NoNol",
    tags: ["Desarrollo Web", "Diseño Web"],
    icon: BookMarked,
    src: "mock2.png",
    philosophy:
      "Creemos en la autenticidad y la cercanía. Nuestro trabajo potencia negocios gastronómicos que buscan conectar con sus clientes a través de experiencias digitales cálidas y memorables.",
    description:
      "Creamos este ejemplo para una librería de barrio que busca conectar con su comunidad. La web es fácil de navegar y permite a los usuarios encontrar rápidamente lo que buscan.",
  },
  {
    id: 3,
    title: "El Tostado",
    tags: ["Desarrollo Web", "Diseño Web"],
    icon: TreePine,
    src: "mock3.png",
    philosophy:
      "Buscamos impulsar marcas con propósito. Trabajamos con negocios que quieren crecer de manera sostenible y dejar huella positiva en su entorno.",
    description:
      "Este es un ejemplo para una web de turismo, donde la experiencia del usuario es clave. La web es fácil de navegar y permite a los usuarios encontrar rápidamente lo que buscan.",
  },
];
---

<div
  class="bg-cream flex flex-col text-cream py-20 md:py-10 md:pt-12 px-8 md:px-0"
>
  <main
    class="container mx-auto min-h-screen flex flex-col justify-around items-center gap-16"
  >
    <XTTitle
      title="Conoce nuestra filosofía de trabajo"
      subtitle="Nos enfocamos en crear experiencias digitales que no solo sean visualmente atractivas, sino también funcionales y fáciles de usar"
      color="tertiary"
    />

    <section
      class="w-full flex flex-col items-center justify-center gap-20 md:gap-18"
    >
      {
        projects.map((project, index) => (
          <ProjectCard project={project} reverse={index % 2 === 1} />
        ))
      }
    </section>

    <XTFooter
      title="¿Quieres ver más?"
      subtitle="Explora nuestra galería de proyectos para descubrir más sobre nuestro trabajo y cómo podemos ayudarte a alcanzar tus objetivos digitales."
      buttonText="Ver nuestros proyectos"
    />
  </main>
</div>

<style>
  .gradient {
    background-image: linear-gradient(
      180deg,
      hsl(215deg 50% 23%) 1%,
      hsl(212deg 47% 26%) 39%,
      hsl(209deg 44% 30%) 47%,
      hsl(206deg 40% 34%) 50%,
      hsl(204deg 37% 38%) 51%,
      hsl(201deg 34% 42%) 51%,
      hsl(199deg 30% 47%) 50%,
      hsl(197deg 28% 51%) 49%,
      hsl(194deg 30% 56%) 49%,
      hsl(192deg 33% 61%) 50%,
      hsl(189deg 35% 66%) 53%,
      hsl(186deg 38% 71%) 61%,
      hsl(182deg 43% 76%) 99%
    );
  }
</style>
