---
import { Button } from "./ui/button.tsx";
import { ArrowRight } from "lucide-react";
const { title, subtitle, buttonText, color = "text-tertiary" } = Astro.props;
---

<div
  class=`flex flex-col items-center gap-5 justify-center text-center ${color} mb-10 lg:mb-5`
>
  <div>
    <h2 class="text-2xl">{title}</h2>
    <p class="text-lg">
      {subtitle}
    </p>
  </div>
  <Button variant="tech" size="lg"
    >{buttonText} <ArrowRight className="ml-2 h-4 w-4" /></Button
  >
</div>
